.userCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}
.container {
  /* border: 1px solid blue; */
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filterBox{
  /* align-items: center; */
  margin: auto;
}



@media all and (min-width: 651px) and (max-width: 1024px) {
  .userCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
  }
}

@media all and (min-width: 320px) and (max-width: 652px) {
  .userCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;
  }
}
